#CurrentTabList {

  a {
    color: black;
    text-decoration: none;
  }
  .list-wrap {
    height: 100%;
    max-width: 20rem;
    overflow: scroll;
    background-color: lightgray;
    padding: 0 1rem;

    .list-title {
      font-size: 1.1rem;
    }

    .list {
      .tab {
        display: flex;
        border-radius: 3px;
        background-color: white;
        box-shadow: 0.1rem 0.1rem 0.1rem 0.01rem rgba(0, 0, 0, 0.2);
        margin-bottom: 1rem;
        padding: 0.5rem;

        .favicon {
          width: 1em;
          height: 1em;
          margin-right: 0.5rem;

          img {
            width: inherit;
            height: inherit;
          }
        }
      }
    }
  }
}
