@import "variables";

#CurrentTabList {
  z-index: 9;
  height: 100vh;
  background-color: $current-tab-background-color;
  min-width: $current-tab-list-width;
  max-width: $current-tab-list-width;
  color: $current-tab-font-color;
  box-shadow: $current-tab-box-shadow;

  .list-wrap {
    overflow: scroll !important;
    padding: 0 1rem;

    a {
      color: black;
      text-decoration: none;
    }

    .list-title {
      font-size: 1.1rem;
    }

    .list {
      .current-tab {
        display: flex;
        border-radius: 3px;
        background-color: $white-color;
        box-shadow: 0.1rem 0.1rem 0.1rem 0.01rem rgba(0, 0, 0, 0.2);
        margin-bottom: 1rem;
        padding: 0.5rem;

        .favicon {
          width: 1em;
          height: 1em;
          margin-right: 0.5rem;

          img {
            width: inherit;
            height: inherit;
          }

          .noFavIcon {
            font-size: 0.8em;
            color: $white-color;
            width: inherit;
            height: inherit;
            border-radius: 3px;
            background-color: gray;
            text-align: center;
          }
        }

        .title-text{
          word-break: break-all;
        }
      }
    }
  }
}
