@import "variables";

#LinkCart {
  .link-list {
    .list {
      .link {
        .link-remove{
          cursor: pointer;
          opacity: 0.5;

          svg {
            pointer-events: none;
          }
        }
      }
    }
  }
}
