@import 'variables';

#LinkCart {
  .link-list-title {
    padding: 0 !important;
    z-index: 1;
    display: flex;

    .title-text {
      margin-left: 1rem;
      display: flex;
      flex-grow: 1;
      align-items: center;

      h2 {
        display: inline;
        margin: 0;
      }
    }

    .clear-cart {
      margin: 0 1rem 0 0;
      .clear-button {
        opacity: 0.5;

        &:hover {
          opacity: 0.9;
          cursor: pointer;
        }
      }
    }
  }

  .link-list {
    .list {
      .link {
        .link-remove {
          cursor: pointer;
          opacity: 0.25;
          transition: 0.3s;

          svg {
            pointer-events: none;
          }
        }
        .link-remove:hover {
          opacity: 0.5;
        }
      }
    }
  }
}
