@import "variables";

#TabList {
  display: flex;
  flex-grow: 1;
  overflow: auto;
  padding-right: 10rem;
  & > div {
    margin: 1rem;
  }

  .tab {
    background-color: $tab-background-color;
    padding: 0 1rem;
    min-width: 18em;
    max-width: 18em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border: 0;
    box-shadow: $tab-box-shadow;

    .tab-header {
      display: flex;
      align-items: center;
      height: 4em;

      .tab-title,
      .tab-title-edit {
        flex-grow: 1;
      }
      .tab-title-edit {
        display: none;
        font-size: 1em;
      }
    }

    .link-list {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .link-list-inner {
        display: flex;
        flex-direction: column;

        .link {
          display: flex;
          align-items: center;
          border-radius: 3px;
          background-color: $white-color;
          box-shadow: 0.1rem 0.1rem 0.1rem 0.01rem rgba(0, 0, 0, 0.2);

          a {
            padding: 0.5rem;
            display: flex;
            flex-grow: 1;
            color: black;
            text-decoration: none;

            .favicon {
              width: 1em;
              height: 1em;
              margin-right: 0.5rem;

              img {
                width: inherit;
                height: inherit;
              }

              .noFavIcon {
                font-size: 0.8em;
                color: $white-color;
                width: inherit;
                height: inherit;
                border-radius: 3px;
                background-color: gray;
                text-align: center;
              }
            }
            .title-text {
              word-break: break-all;
            }
            .title-edit {
              display: none;
            }
          }
        }

        .space {
          height: 1em;
          transition: 0.3s;
        }

        .drag-hover {
          height: 3em;
        }

        &:last-child {
          flex-grow: 1;

          .space {
            flex-grow: 1;
          }
        }
      }
    }

    .setting-icon {
      opacity: 0.25;
      height: 1.2em;
      width: 1.2em;
      transition: 0.3s;
      margin-right: 0.25em;
      text-align: center;

      &:hover {
        cursor: pointer;
        opacity: 0.5;
      }

      .setting-component {
        display: none;
        position: relative;
        top: -2.6em;
        left: 1.2em;

        & > div {
          display: flex;
          align-items: center;
          height: 2em;
          width: 2em;
          background-color: gray;
          border-radius: 100%;
          &:first-child {
            margin-bottom: 0.2em;
          }

          & > * {
            margin: 0 auto;
          }

          svg {
            color: $white-color;
          }
        }
      }
    }

    input.edit {
      all: unset;
      font-size: 0.9em;
      width: 100%;
    }
  }

  .add-column-wrap {
    padding-right: 2rem;

    .add-column {
      opacity: 0.7;
      display: flex;
      align-items: center;
      background-color: $add-column-background-color;
      border: $add-column-border;
      height: 2em;
      padding: 2rem;
      border-radius: 10px;

      p {
        white-space: nowrap;
      }
    }
  }
}
