#TabList {
  display: flex;
  flex-grow: 1;
  overflow: auto;
  padding-right: 10rem;
  & > div {
    margin: 1rem;
  }

  .tab {
    background-color: lightblue;
    padding: 0 1rem;
    min-width: 12em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    .top {
      display: flex;
      align-items: center;
    }
    .tab-list {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .link-wrap {
        display: flex;
        flex-direction: column;

        .link {
          display: flex;
          border-radius: 3px;
          background-color: white;
          box-shadow: 0.1rem 0.1rem 0.1rem 0.01rem rgba(0, 0, 0, 0.2);

          padding: 0.5rem;

          .favicon {
            width: 1em;
            height: 1em;
            margin-right: 0.5rem;

            img {
              width: inherit;
              height: inherit;
            }
          }
        }

        .space {
          font-size: 2em;
          border: 1px solid green;
          color: gray;
          text-align: center;
          opacity: 0.3;
        }

        &:last-child {
          flex-grow: 1;

          .space {
            flex-grow: 1;
          }
        }
      }
    }
  }
  .add-column-wrap {
    padding-right: 2rem;
    .add-column {
      display: flex;
      align-items: center;
      border: 1px dotted gray;
      height: 2em;
      padding: 2rem;
      border-radius: 10px;

      p {
        white-space: nowrap;
      }
    }
  }
}
