@import "variables";

* {
  overscroll-behavior: none;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-size: 12px;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#App {
  display: flex;
  background-color: $app-background-color;
  height: 100vh;
  width: 100vw;
  &>:first-child{
    flex-grow: 1;
  }
}

.no-event {
  pointer-events: none;
  &>*{
    pointer-events: none;
  }
}
