body > * {
  all: unset;
}

html, body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
body {
  background-color: black;
  font-size: 14px;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#App {
  display: flex;
  background-color: white;
  min-height: 100vh;
}
