#Sidebar {
  z-index: 9;
  background-color: $current-tab-background-color;
  color: $current-tab-font-color;
  height: 100vh;
  min-width: $current-tab-list-width;
  max-width: $current-tab-list-width;
  box-shadow: $current-tab-box-shadow;
  display: flex;
  flex-direction: column;

  #CurrentTabList {
    flex-grow: 1;
    max-height: 70%;
    overflow: auto;
  }
  #LinkCart{
    min-height: 30%;
    border-top: 1px solid gray;
  }
}
