#Sidebar {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  flex-direction: column;
  height: 100vh;
  background-color: $side-bar-background-color;
  color: $side-bar-font-color;
  min-width: $side-bar-width;
  width: $side-bar-width;
  max-width: $side-bar-width;
  box-shadow: $side-bar-box-shadow;

  & > :nth-child(1) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  #CurrentTabList,
  #LinkCart {
    flex-grow: 1;
    overflow: auto;
    height: calc(50% - 1.5em);

    &::-webkit-scrollbar {
      display: none;
    }

    .link-list-title {
      display: flex;
      position: sticky;
      top: 0;
      z-index: 2;
      align-items: center;
      height: 3rem;
      background-color: $side-bar-background-color;
      color: $side-bar-title-color;
      padding: 0 1rem 0 0.5rem;

      .title-text {
        display: flex;
        flex-grow: 1;
        align-items: center;

        svg {
          margin-right: 0.5rem;
        }
      }

      & > div:nth-child(n + 2) {
        opacity: 0.5;
        cursor: pointer;
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }

  .link-list {
    padding: 0 1rem;

    a {
      all: unset;
    }

    .list {
      .link {
        display: flex;
        border-radius: 3px;
        background-color: $white-color;
        box-shadow: $link-box-shadow;
        margin-bottom: 1rem;
        padding: 0.5rem;
        cursor: grab;

        &:active {
          cursor: grabbing;
        }

        a {
          pointer-events: none;
          display: flex;
          flex-grow: 1;

          .favicon {
            margin-top: 0.15em;
            width: 1em;
            height: 1em;
            margin-right: 0.5rem;
            align-items: center;

            img {
              width: inherit;
              height: inherit;
            }

            .noFavIcon {
              font-size: 0.8em;
              color: $white-color;
              width: inherit;
              height: inherit;
              border-radius: 3px;
              background-color: gray;
              text-align: center;
            }
          }

          .link-title {
            word-break: break-all;
            flex-grow: 1;
          }
        }

        .link-remove {
          cursor: pointer;
          opacity: 0.25;
          transition: 0.3s;

          svg {
            pointer-events: none;
          }

          &:hover {
            opacity: 0.75;
          }
        }
      }
    }
  }
}

#AppFooter {
  display: flex;
  padding: 0 1rem;
  height: 3em;
  background-color: $footer-background-color;
  overflow: hidden;
  align-items: center;

  .app-title {
    display: flex;
    user-select: none;
    align-items: center;
    flex-grow: 1;
    color: $footer-color;
    h1 {
      font-size: 1.2em;
    }
    span {
      position: relative;
      top: 0.1em;
      opacity: 0.5;
      margin-left: 0.5em;
      font-size: 0.8em;
    }
  }
  .footer-side {
    .app-setting {
      cursor: pointer;
      svg {
        color: $footer-color;
      }
    }
  }
}
